@font-face {
    font-family: mulish;
    src: url(./static/fonts/Mulish-Regular.ttf);
}

@font-face {
    font-family: mulish-italic;
    src: url(./static/fonts/Mulish-Italic.ttf);
}

@font-face {
    font-family: mulish-extrabold;
    src: url(./static/fonts/Mulish-ExtraBold.ttf);
}

@font-face {
    font-family: mulish-bold;
    src: url(static/fonts/Mulish-Bold.ttf);
}

* {
    margin: 0;
    padding: 0
}

:root {
    --c-black: #031c0c;
    --c-white: #f5f1e8;
    --c-brow: #F6EACF;
    --c-white-sec: white; 
    --c-black-sec: black;
    --c-azul-ver-claro: #C9F9DB;
    --c-Eucalyptus-claro: #1AA74E;
    --c-verde-bem-claro: #6AEA99;
    --c-verde-escuro: #031C0C;
    --c-fundo_planos_azul_claro: #F2F8F8;
    --c-fundo_depoimento_verde_claro: #E2EBE4;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: mulish, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    justify-self: center;
    height: 100px;
}

menu {
    display: flex;
    width: 60%;
    justify-content: center;
}

menu li {
    font-family: mulish;
    list-style-type: none;
    margin: 0 10px;
    width: auto;
    height: 23px;
    flex-grow: 0;
}

menu li a {
    font-weight: 400px;
    line-height: 17px;
    cursor: pointer;
    color: var(--c-black);
}

menu li a::after {
    display: block;
    content: '';
    position: relative;
    height: 1.8px;
    width: 0%;
    background-color: var(--c-black);
    transition: cubic-bezier(0.93, -0.07, 0.53, 1.42) 0.2s;
}

menu li a:hover::after {
    width: 100%;
}

.header-info {
    display: flex;
    align-items: center;
}

.header-info  span {
    margin: 0 10px;
    font-family: mulish;
    font-weight: 400;
    display: flex;
    align-items: center
}


.header-info span img {
    margin: 0 3px;
}

.botao {
    font-family: 'mulish', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 18px;
    background: var(--c-white-sec);
    border: 3px solid var(--c-black-sec);
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    background: var(--c-black);
    color: var(--c-white-sec);
}

.botao-sfun {
    font-family: 'mulish', sans-serif;
    font-weight: bold;
    padding: 12px 18px;
    background-color: transparent;
    border: 2px solid var(--c-black-sec);
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

.hero-section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    width: 100%;
    height: 717px;
    background-color: var(--c-white);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 0;
}

.hero-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section .hero-text {
    width: 50%;
}


.hero-section .container .hero-text span {
    font-family: mulish-extrabold;
    width: 248px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--c-brow);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hero-section .hero-text h2 {
    font-family: mulish-extrabold;
    font-size: 50px;
    margin-top: 20px;
    line-height: 1.17;
}

.hero-section .hero-text p {
    margin-right: 110px;
    font-family: mulish;
    font-size: 114%;
    margin-top: 20px;
}

.hero-section .hero-text div  {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.optimization-content {
    padding: 80px 0;
}

.optimization-content  h1 {
    padding-bottom: 80px;
    font-family: mulish-extrabold;
    font-size: 47px;
    text-align: center;
}

.optimization-content-style {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.optimization-content-desc  {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.optimization-content-desc h2 {
    font-family: mulish-extrabold;
    display: flex;
    text-align: center;
    text-wrap: nowrap;  /*Experimental: This is an experimental technology */
    margin-bottom: 4px;
}

.optimization-content-desc p {
    font-family: mulish;
    text-align: center;
}

.planos {
    width: 100%;
    background-color: var(--c-fundo_planos_azul_claro);
    padding: 60px 0;
}

.planos .container h1 {
    font-family: mulish-extrabold, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}

.planos .container > span {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin-bottom: 8px;
    
}
.planos .planos_conteudo_descricao {
    display: flex;
    justify-content: space-between;
}
 
.planos .planos_conteudo_quadrado {
    background-color: var(--c-white-sec);
    padding: 36px;
    border: 2px solid var(--c-azul-ver-claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    box-shadow: 0px 8px 11px 0 rgba(0, 0, 0, 0.05)
}

.planos .planos_conteudo_quadrado h2 {
    font-family: mulish-bold, sans-serif;
    font-weight: 1000;
    margin-bottom: 40px;
}

.planos .planos_conteudo_quadrado h3 {
    font-size: 40px;
    font-family: mulish-extrabold, sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

.planos h3 span {
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 178px;
}

.planos .planos_conteudo_quadrado ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: column;
    align-content: center;
    font-family: Mulish;
    font-size: 16px;
    color: var(--c-black-sec);
    letter-spacing: -0.04em;
    text-align: left;
}

.planos .planos_conteudo_quadrado:nth-child(2){
    border-width: 7px 2px 2px 2px;
    border-color: var(--c-verde-bem-claro);
    border-style: solid;
}

.planos ul li {
    margin-bottom: 8px;
}

.planos ul li img {
    margin-right: 4px;
}

.planos button {
    width: 100%;
}
/* revisar daqui pra baixo */
.depoimento {
    height: 500px;
    background-color: var(--c-fundo_depoimento_verde_claro);
}

.depoimento  h1 {
    text-align: center;
    font-family: mulish-extrabold;
    font-size: 34px;
    padding: 60px;
}

.depoimento  .depoimento_conteudo_container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    
}   

.depoimento  .depoimento_conteudo {
    background-color: var(--c-white-sec);
    width: 600px;
    height: 250px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(./static/images/Ellipse_4.svg);
    background-position: 11%;
    
}

.depoimento  img {
    position: absolute;
    margin-top: 27px;
    margin-left: 181px;
    width: 19px;
}

.botoes_carrosel img:nth-child(1) {
    right: 361px;
    bottom: -1570px;
}

.botoes_carrosel img:nth-child(2) {
    left: 180px;
    bottom: -1570px;
}

.depoimento  .depoimento_conteudo_texto {
    width: 273px;
    margin-left: 210px;
    position: absolute;
    padding-top: 48px;
    line-height: 21px;
    font-family: mulish;
}

.depoimento  h3 {
    margin-top: 19px;
    font-size: 17px;
    color: var(--c-black-sec);
}


/* faq */

.faq {
    width: 100%;
    height: 552px;
    font-family: mulish;
}

.faq h1 {
    text-align: center;
    padding: 60px;
    font-size: 40px;
    font-family: mulish-extrabold;
    letter-spacing: 0.06em;
}

.faq_conteudo_texto summary {
    line-height: 60px;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faq_conteudo_texto summary::after {
    content: ''; 
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url(static/images/vector_more.svg);
    background-size: cover;
}

details[open] summary::after {
    content: ''; 
    display: flex;
    width: 26px;
    height: 6px;
    background-image: url(static/images/Vector_unless.svg);
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    from {
        opacity: 0; margin-top: -10px;
    }
    to {
        opacity: 1; margin-top: 0;
    }
}

.faq_conteudo_texto p {
    line-height: 20px;
    margin-bottom: 25px;
}

.faq_conteudo hr {
    border-width: 1px 0px 0px;
    border-top-style: dashed;
}

/*rodapé*/
footer {
    background-color: #031c0c;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    color: var(--c-white);
    align-items: start;
}

.contato {
    width: 181px;
    height: auto;
}

footer li {
    font-family: mulish-italic;
}

