@font-face {
    font-family: mulish;
    src: url(./static/fonts/Mulish-Regular.ttf);
}

@font-face {
    font-family: mulish_italic;
    src: url(./static/fonts/Mulish-Italic.ttf);
}
* {
    margin: 0;
    padding: 0
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    justify-self:center;
    height: 100px;

}

menu {
    display: flex;
    width: 60%;
    justify-content: center;
}

menu > li {
    font-family: mulish;
    list-style-type: none;
    margin: 0 10px;
    width: auto;
    height: 23px;
    flex-grow: 0;
}

menu > li > a {
    font-weight: 400px;
    line-height: 17px;
    cursor: pointer;
    color: #031C0C;
}

menu > li > a::after {
    display: block;
    content: '';
    position: relative;
    height: 1.8px;
    width: 0%;
    background-color: #031C0C;
    transition: cubic-bezier(0.93,-0.07, 0.53, 1.42) 0.2s;
}

menu > li > a:hover::after {
    width: 100%;
}


.q > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.q > ul > li {
    margin: 0 10px;
    
}

.q > ul > li > a {
    font-family: mulish;
    font-weight: 400 ;
    display: flex;
    align-items: center;
}
    

.q > ul > li > a > img {
    margin: 0 3px;
} 


.q button {
    padding: 10px;
    background: white;
    border: 3px solid black;
    font-size: 16px;
    border-radius: 7px;
}

.container_2
{
    display: flex;
    color:white;
    width: 100%;
    height: 267px;
    background-color: #031C0C;
    align-items: center;
    justify-content: space-around;
}


.contato {
    width: 181px;
    height: auto;
}

.contato li, .dados_empresa  li {
    font-family: mulish_italic;
    list-style-type: none;
}

.container_2 img {
    height: auto;
    width: 100px;
    place-self: baseline;
    margin-top: 43px;
}
