@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@media (min-width: 960px) {
    header {
        padding: 0 36px;
    }
} 

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

li {
    list-style-type: none;
    display: flex;
    padding: 0 10px;
}   
  
header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 90px;
}

.logo .imagem {
    display: inline-block;
    height: auto;
    width: 100% ;
    -webkit-user-drag: none;
    cursor: pointer;
}

.cabecalho {
    display: flex;
    width: min-content;
    height: auto;
}

.navegacao {
    display: flex;
    align-items: center;
}

.navegacao_conteudo {
    display: flex;
}

.navegacao_botao {
    display: flex;
    padding-left: 14px;
    align-items: center;
}

.navegacao_botao_conteudo {
    display: flex;
    padding: 0 20px;
}

.navegacao_conteudo_link_texto {
    color: black !important;
    background-image: linear-gradient(
      to right,
      green,
      green 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: flex;
    position: relative;
    -webkit-background-clip: text; /* deve ser por causa que isso aqui é para scss e nao para css só ignora :V*/
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-family: 'Inter', sans-serif;
    padding: 0 14px;
    font-weight: 500;
    user-select: none;
    -webkit-user-drag: none;
    letter-spacing: 0.05em;
  }
  
  .navegacao_conteudo_link_texto:before {
    content: '';
    background: rgb(30, 158, 30);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .navegacao_conteudo_link_texto:hover {
   background-position: 0;
  }
  
  .navegacao_conteudo_link_texto:hover::before {
    width:100%;
  }

  .cadastro {
    color: white;
    font-weight: 600;
    text-decoration-color: white;
    border-radius: 2px;
    border: 2px solid rgb(54, 199, 17); 
    background-color: rgb(54, 199, 17);
    padding: 9px;
    width: 120px;
    outline: none;
    box-shadow: none;
    text-align: center; 
    white-space: nowrap; 
    overflow: hidden; 
}

.cadastro:focus {
    outline: none;
    box-shadow: none;
}


/*começo do efeito carrosel(ou tentando)*/

.ajeitado
{
    padding-left: 50%;
}

.slider{
    overflow: hidden;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}


